<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954012517209-2mh1se02ihvs2t493huvena492v5tggc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954012517209-2mh1se02ihvs2t493huvena492v5tggc</string>
	<key>API_KEY</key>
	<string>AIzaSyBCjXZy_DYuF9BtwGAUkXf2ODxaNnQZaHg</string>
	<key>GCM_SENDER_ID</key>
	<string>954012517209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.namkhaZoe</string>
	<key>PROJECT_ID</key>
	<string>namkhazoe-2757d</string>
	<key>STORAGE_BUCKET</key>
	<string>namkhazoe-2757d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954012517209:ios:3ce5616f415835ac240248</string>
</dict>
</plist>